@import "@/ui/less/variables.less";
@import "@/ui/less/mixin.less";
.mu-switch-container{
    cursor: pointer;
    .mu-switch{
        display: inline-block;
        border: 1px solid  #bfbfbf;
        transition: right 0.2s ease-in-out;
        box-shadow: 0 0 0 2px #e8e8e8;
        &.mu-big{
            .switchLabelMixin(70px,30px);
        }
        &.mu-normal{
            .switchLabelMixin(54px,24px);
        }
        &.mu-small{
            .switchLabelMixin(35px,18px);
        }
        &.mu-disabled{
            opacity: 0.5;
        }
        &.mu-loading.mu-big div{
            .loading-div(70px, 30px)
        }
        &.mu-loading.mu-normal div{
            .loading-div(54px, 24px)
        }
        &.mu-loading.mu-small div{
            .loading-div(35px, 18px)
        }
    }
    @keyframes rotateAnimation {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    input{
        display: none;
    }
    input:checked + .mu-switch.mu-big::after,
    input:checked + .mu-switch.mu-normal::after,
    input:checked + .mu-switch.mu-small::after{
        right: 0px ;
    }
    input:checked + .mu-switch.mu-loading div{
        right: 3px ;
    }
    input + .mu-switch{
        background-color: #bfbfbf;
    }
    input:checked + .mu-switch{
        background-color: @primaryColor;
        box-shadow: 0 0 0 2px @lightPrimaryColor;
    }
}