@import "@/ui/less/variables.less";
@import "@/ui/less/mixin.less";
.mu-bubble-wrap{
    // 'topLeft' | 'topRight' | 'bottomLeft' | 'bottomRight'
    position: fixed;
    border: 1px solid @lightSuccessColor;
    transition: all 0.1s ease-in;
    background-color: @lightPrimaryColor;
    overflow: hidden;
    .mu-bubble-main{
        position: absolute;
        right: 0;
        bottom: 0;
        .iconfont{
            float: right;
            width: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 22px;
            color: @primaryColor;
            transition: all 0.1s ease-in;
            transform: rotate(45deg);
            &.no-fold{
                transform: rotate(0deg);
            }
        }
    }
    &.mu-topLeft{
       top: 30px;
       left: 30px; 
    }
    &.mu-topRight{
        top: 30px;
        right: 30px; 
    }
    &.mu-bottomLeft{
        bottom: 30px;
        left: 30px; 
    }
    &.mu-bottomRight{
        bottom: 30px;
        right: 30px; 
    }
}