.rc-notification {
    position: fixed;
    z-index: 1000;
  }
.rc-notification-notice {
    padding: 7px 20px 7px 10px;
    border-radius: 3px 3px;
    border: 1px solid #999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 0px solid rgba(0, 0, 0, 0);
    background: #fff;
    display: block;
    width: auto;
    line-height: 1.5;
    position: relative;
    margin: 10px 0;
}

.rc-notification-fade-enter {
    animation: moveLeft 1s;
}
.rc-notification-fade-leave {
    animation: moveOutLeft 1s;
}
.rc-notification-fade-enter.rc-notification-fade-enter-active {
    animation: moveLeft 1s;
}
.rc-notification-fade-leave.rc-notification-fade-leave-active {
    animation: moveOutLeft 1s;
}

@keyframes moveOutLeft {
    0% {
        top:-20px;
        opacity: 1;
    }
    100% {
        top: 0px;
        opacity: 0;
    }
}
@keyframes moveLeft {
    0% {
        top: -20px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

.xNotice {
    display: flex;
    padding: 2px;
    .iconWrap {
        // width: 36px;
        line-height: 1.5;
        // font-size: 20px;
        &.info {
         color: #1890ff;
        }
        &.success {
            color: #52c41a;
        }
        &.warning {
            color: #faad14;
        }
        &.error {
            color: #f5222d;
        }
    }
    .xNoticeTit {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
    }
    .xNoticeDesc {
        line-height: 1.5;
        color: rgba(0,0,0, .65)
    }
}