.adBorderBgColor(@bgColor,@borderColor:@bgColor){
    color: #ffffff;
    background-color: @bgColor;
    border: 1px solid @borderColor;
}

.switchLabelMixin(@width,@height){
    position: relative;
    width: @width;
    height: @height;
    border-radius: 2 / 3 * @height;
    &::after{
        content: "";
        position: absolute;
        transition: right 0.2s ease-in-out;
        width: @height;
        height: @height;
        right: @width - @height;
        border-radius: 2 / 3 * @height;
        background-color: #fff;
    }
}
.loading-div(@width,@height){
    position: absolute;
    width: @height - 6;
    height: @height - 6;
    top: 3px;
    right: @width - (@height - 3);
    z-index: 999;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-top-color: #bfbfbf;
    animation: rotateAnimation 1s linear infinite;
}